.ml-1 {    
    margin-left: 50px !important;
    width: 400px !important;
    padding-top: 80px !important;
}

.ml-2 {    
    margin-left: 50px !important;
    width: 400px !important;
    padding-top: 10px !important;
}

.x-icon {
    margin-top: 10px !important;
    margin-left: 10px !important;
    color: white;
}

